html {
  position: fixed;
  height: 100%;
  overflow: hidden;
} 
body {
  font-family: sans-serif;
  margin: 0;
  width: 100vw; 
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
footer {
  padding: 100px;
  height: 200px;
}
a {
  color: white;
}
a:hover {
  color: gray;
}
a:hover #carrot{
  display: inline;
  padding-right: 10px;
}
.nav_bar {
  background-color: #679E73;
  transition: 0.4s;
}
#carrot {
  display: none;
}