{% extends "personal/about_header.html" %}

{% block content %}

	<center>
		<h1><b>Meet the team</b></h1>
	</center>

	<br>

  	<div class="container">
  		<h3 class='team_information'>
			Rabbit Escape is the first title developed and produced by 5 Humans, a group that consists of five UCI undergraduates. Our goal with this title is to introduce unique gameplay mechanics that incorporate both the use of key and mouse as well as include visually charming characters and environment.
		</h3>
		<br></br><br></br>
  		<div class=row>
  			<div class="col-sm-6">
  				<img src="../static/personal/img/don.png" class="responsive-img" style="max-height: 225px; padding: 20px">
  			</div>
  			<div class="col-sm-6">
	      		<h3>Don Cuong Tran</h3>
	      		<p>Don is a 5th year Informatics major from UC Irvine. Over the course of studying Human Computer Interaction, he enjoys creating prototypes, facilitating UI/UX, and developing mobile and web applications. His favorite game series is The Legend of Zelda, and has played almost all of its main titles.</p>
	      	</div>
	  	</div>
		<br></br>
  		<div class="row">
  			<div class="col-sm-6">
  				<h3>Sam Ly</h3>
		      	<p>Sam is an ultra-senior (2nd baccalaureate student) in Computer Science. His first degree(s) were in Political Science and Earth System Science at UCI as well. He loves playing video games, various musical instruments, and “The Office (U.S.)”. His current video games are Fortnite, Overwatch and whatever mobile games he plays on the toilet.</p>
		    </div>
		    <div class="col-sm-6">
		    	<img src="../static/personal/img/sam.png" class="responsive-img" style="max-height: 225px; padding: 20px">
  			</div>
	  	</div>
	  	<br></br>
	  	<div class="row">
	  		<div class="col-sm-6">
	  			<img src="../static/personal/img/breanna.png" class="responsive-img" style="max-height: 325px; padding: 20px">
	  		</div>
	  		<div class="col-sm-6">
	  			<h3>Breanna Lee</h3>
		      	<p>Breanna is a 4th year student majoring in Informatics. Originally from NorCal, she plans to return home after graduation, but has definitely enjoyed her four year stay down in sunny Irvine. She has learned so much throughout her time her at UC Irvine, ranging from programming to storyboarding to requirements engineering to now animation and character design in CS 113. In her free time she enjoys being with her friends, lettering and journaling, and playing around on her computer! </p>
		    </div>
		</div>
	  	<br></br>
	  	<div class="row">
	  	
	  		<div class="col-sm-6">
	  			<h3>Edward Fu</h3>
		      	<p>Edward is a 5th year Informatics major and specialize in Human-Computer interaction. He transferred to UC Irvine from a community college in his third year. He originally was a computer gaming science major, but quickly he learned he has a passion for UI/UX design. He enjoys playing PC games like League of Legend and Overwatch.</p>
		    </div>
		    <div class="col-sm-6">
		    	<img src="../static/personal/img/edward.png" class="responsive-img" style="max-height: 225px; padding: 20px">
	  		</div>
	  	</div>
	  	<br></br>
	  	<div class="row">
	  		<div class="col-sm-6">
	  			<img src="../static/personal/img/dom.png" class="responsive-img" style="max-height: 225px; padding: 20px">
	  		</div>
	  		<div class="col-sm-6">
		      	<h3>Dominick Huynh-Vu</h3>
		      	<p>Dominick is a 2nd year transfer student majoring in general computer science. His hobbies include playing the piano and video games. Some of his favorite games is the Dark Souls series, the Bioshock series, and many Valve created games. Some of his favorite piano pieces is Listz - La Campanella, Chopin - Nocturne in E Flat Major (Op. 9 No. 2), and Elegy for Rem. After graduation, he plans to find a job that is able to sustain his hobbies, such as buying pianos and video games.</p>
		    </div>
		</div>

	  	<br></br>
	  	<br></br>
	</div>

{% endblock %}