{% extends "personal/header.html" %}

{% block content %}

    <style type="text/css">
	    img {
	    	display: block;
	    	margin-left: auto; 
	    	margin-right: auto;
	    }

	    p, h3 {
	    	color: white;
	    }

	    .team_information {
	    	color: black;
	    }

    </style>
	
	<center>
		<h1><b>Meet the team</b></h1>
	</center>

	<br>

  	<div class="container">
  		<h3 class='team_information'>
			Rabbit Escape is the first title developed and produced by 5Humans, a group that consists of five UCI undergraduates. Our goal with this title is to...
		</h3>
		<br></br><br></br>
  		<div class=row>
  			<div class="col-sm-6">
  				
  			</div>
  			<div class="col-sm-6">
	      		<h3>Breanna Lee</h3>
	      		<p>A mad physicist elaborates a wedded stroke. An entertaining war chews next to the theology. A bound wisdom experiments beneath a clearance. An opposed flame exercises across the school.</p>
	      	</div>
	  	</div>
		<br></br>
  		<div class="row">
  			<div class="col-sm-6">
  				
  			</div>
  			<div class="col-sm-6">
  				<h3>Sam Ly</h3>
		      	<p>A mad physicist elaborates a wedded stroke. An entertaining war chews next to the theology. A bound wisdom experiments beneath a clearance. An opposed flame exercises across the school.</p>
		    </div>
	  	</div>
	  	<br></br>
	  	<div class="row">
	  		<div class="col-sm-6">
	  			
	  		</div>
	  		<div class="col-sm-6">
	  			<h3>Dominick Huynh-Vu</h3>
		      	<p>A mad physicist elaborates a wedded stroke. An entertaining war chews next to the theology. A bound wisdom experiments beneath a clearance. An opposed flame exercises across the school.</p>
		    </div>
		</div>
	  	<br></br>
	  	<div class="row">
	  		<div class="col-sm-6">
	  			
	  		</div>
	  		<div class="col-sm-6">
	  			<h3>Edward Fu</h3>
		      	<p>A mad physicist elaborates a wedded stroke. An entertaining war chews next to the theology. A bound wisdom experiments beneath a clearance. An opposed flame exercises across the school.</p>
		    </div>
	  	</div>
	  	<br></br>
	  	<div class="row">
	  		<div class="col-sm-6">
	  			
	  		</div>
	  		<div class="col-sm-6">
		      	<h3>Don Cuong Tran</h3>
		      	<p>A mad physicist elaborates a wedded stroke. An entertaining war chews next to the theology. A bound wisdom experiments beneath a clearance. An opposed flame exercises across the school.</p>
		    </div>
		</div>

	  	<br></br>
	  	<br></br>
	</div>

{% endblock %}