{% extends "personal/home_header.html" %}

{% block content %}

	<center>
		<img id="title" src="../static/personal/img/game_title.png" class="responsive-img" style="height: auto; max-width: 100%">
	</center>

	<br><br><br>

	<center style="color: #F2F2F2">

		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-6">
				<h3 style="background-color: #0A332C; padding:30px; border-radius: 5px 30px 5px;">Rabbit Rabbit tells the tale of an ordinary rabbit destined for heroics as he journeys to rescue his kidnapped son, through an action 2D platformer created by the 5 Humans for PC.</h3>
			</div>
			<div class="col-sm-5">
	       		<img id="picture" src="../static/personal/img/picture.png" class="responsive-img" style='position: relative; height: auto; max-width: 100%; bottom: 100px;'>
	       	</div>
		</div>

	</center>

{% endblock %}