<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rabit Rabit | Welcome</title>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'personal/css/bootstrap/bootstrap.min.css' %}" type="text/css"/>
  <link rel="stylesheet" href="{% static 'personal/css/webpage/home.css' %}" type="text/css"/>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <meta name="description" content="Home Page for Rabbit Rabbit">
  <meta name="keywords" content="rabbit, game, 5Humans">
  <meta name="author" content="5Humans">
</head>

<body class="body" style="background-color:#f6f6f6; background-image: url({% static 'personal/img/background.png' %})">

  <div class="nav_bar" style="position: fixed; width: 100%; padding: 15px; z-index: 5;">
    <ul class="nav nav-pills nav-stacked row justify-content-center">
      <li class="col-sm-2 text-center"><a href='/' style="padding: 15px"><img id ="carrot" src="{% static 'personal/img/carrot.png' %}" class="responsive-img" style="max-height:20px;" alt='carrot'>Home</a></li>
      <li class="col-sm-2 text-center"><a href='/overview/'><img id ="carrot" src="{% static 'personal/img/carrot.png' %}" class="responsive-img" style="max-height:20px;" alt='carrot'>Overview</a></li>
      <li class="col-sm-2 text-center"><a href='/downloads/'><img id ="carrot" src="{% static 'personal/img/carrot.png' %}" class="responsive-img" style="max-height:20px;" alt='carrot'>Downloads</a></li>
      <li class="col-sm-2 text-center"><a href='/about/'><img id ="carrot" src="{% static 'personal/img/carrot.png' %}" class="responsive-img" style="max-height:20px;" alt='carrot'>5 Humans</a></li>
    </ul>
  </div>

  <br><br><br><br>

  <div class="container-fluid" style="width:95%">
    {% block content %}
    {% endblock %} 
  </div>

  <footer>
      <center>
        <img src="{% static 'personal/img/5humans.png' %}" class="responsive-img" style='max-height:100px;' alt="Team Logo">
        <p style="color: white">
          Copyright @ 2018 5 Humans All rights reserved 
        </p>
      </center>
  </footer> 
  
</body>

</html>