{% extends "personal/home_header.html" %}

{% block content %}

	<center>
		<iframe width="853" height="480" src="https://www.youtube.com/embed/ijZ2FICFHzA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</center>

	<br></br>
	<br></br>
	<br></br>
	<br></br>

	<center style="color: #F2F2F2">

		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-6" style="background-color: #0A332C; padding:30px; border-radius: 5px 30px 5px;">
				<h2>Rabbit Rabbit tells the tale of an ordinary rabbit destined for heroics as he journeys to rescue his kidnapped son, through an action 2D platformer created by the 5 Humans for PC.</h2>
			</div>
			<div class="col-sm-1">
				<img id="rabbit" src="../static/personal/img/rabbit.png" class="responsive-img" style='max-height:100px; position: relative; top:40px; left: 60px; transform: rotateY(180deg);' alt="Rabbit" >
			</div>
			<div class="col-sm-2">
	        	<img id="rabbit" src="../static/personal/img/rabbit.png" class="responsive-img" style='max-height:200px; position: relative; bottom: 57px; transform: rotateY(180deg);' alt="Rabbit" >
			</div>
		</div>

	</center>

	<br></br>
	<br></br>
	<br></br>

{% endblock %}