{% extends "personal/header.html" %}

{% block content %}

	<center>
		<iframe width="853" height="480" src="https://www.youtube.com/embed/ijZ2FICFHzA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</center>

	<br></br>
	<br></br>

	<center style="color: #F2F2F2">
		<h2>What is Rabbit Rabbit?<h2>
		<br>
		<div class="col-sm-8">
			<p>The insecure lie fails before a knight. On top of a glowing shout matures the retail chemical. The analogue village expresses the finger near the sarcastic market. An army relaxes beneath a kidnapped courtesy.</p>
		</div>
	</center>

{% endblock %}