{% extends "personal/header.html" %}

{% block content %}

<div class="container">
	
	<h3>It is the year 2032. The human civilization has been wiped out by rapid climate change.</h3>
	<h3>The only creatures that remain are Rabbits, Owls, and Foxes.</h3>

	<br></br>

	<div class=row>
		<div class='col-sm-4'>
			<center>
				<img src="../static/personal/img/rabbit.png" class="responsive-img">
				<h3>Rabbits</h3>
			</center>
		</div>

		<div class='col-sm-4'>
			<center>
				<img src="../static/personal/img/rabbit.png" class="responsive-img">
				<h3>Owls</h3>
			</center>
		</div>

		<div class='col-sm-4'>
			<center>
				<img src="../static/personal/img/rabbit.png" class="responsive-img">
				<h3>Foxes</h3>
			</center>
		</div>
	</div>

	<br></br>

</div>

{% endblock %}