{% extends "personal/overview_header.html" %}

{% block content %}

	<center>
		<h1><b>Overview</b></h1>
	</center>

	<div class="container" style="color:#F2F2F2">
	
	<br></br>

	<div class=row>
		<div class='col-sm-4'>
			<center>
				<img src="../static/personal/img/rabbit.png" class="responsive-img" style="max-height: 260px;  padding: 40px;">
			</center>
		</div>

		<div class='col-sm-4'>
			<center>
				<img src="../static/personal/img/owl.png" class="responsive-img" style="max-height: 300px; padding: 40px;">
			</center>
		</div>

		<div class='col-sm-4'>
			<center>
				<img src="../static/personal/img/fox2.png" class="responsive-img" style="max-height: 260px;  padding: 40px;">
			</center>
		</div>
	</div>

	<br>

	<div style="background-color: #37152E; padding:30px; border-radius: 5px 30px 5px;">
		<h4>It is the year 2032. The human civilization has been wiped out by rapid climate change. The earth looks vastly different from how it did just ten years earlier. Plants and vegetation have grown unchecked due to the increase in temperatures, creating a world that resembles a wide and vast forest. The only creatures that remain are Rabbits, Owls, and Foxes, which have expanded rapidly in their numbers. Oppressed by the Owls and Foxes, the Rabbit population is forced to live underground, coming up only to gather food. A dangerous and risky task, only the male Rabbits venture up.</h4>
	</div>

	<center>
		<img src="../static/personal/img/scene1.png" class="responsive-img" style="max-height: 1500px;  padding: 40px;">
	</center>

	<div style="background-color: #37152E; padding:30px; border-radius: 5px 30px 5px;">
		<h4>Meet Rabbit. He is your ordinary rabbit. He is nothing special, and is neither particularly bright or strong. He has a wife and four children. One day, Rabbit decides to take his youngest child, his only son, up to the Surface for his first Gathering. Distracted by a patch of grass, Rabbit turns his back on his son for a brief moment, only to turn back and see him being taken by an Owl. Terrified, Rabbit watches as his son was carried away.</h4>
	</div>

	<center>
		<img src="../static/personal/img/scene2.png" class="responsive-img" style="max-height: 1500px;  padding: 40px;">
	</center>

	<div style="background-color: #37152E; padding:30px; border-radius: 5px 30px 5px;">
		<h4>As Rabbit chases after his son, a mysterious meteor suddenly appears from the sky and strikes him. After regaining consciousness, he realizes he is longer the rabbit he used to be. He has strength, speed, and agility that he never had before. Although confused, Rabbit must remain focus on his main mission: to find and get his son back. With his newfound power, however, it might be enough to not only rescue his son, but put an end to the oppression of the Owls and Foxes.</h4>
	</div>

	<center>
		<img src="../static/personal/img/scene3.png" class="responsive-img" style="max-height: 500px;  padding: 40px;">
	</center>

	<br></br><br></br><br></br>

</div>

{% endblock %}